body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/* ##GRADIENT BUTTON## */
.gradient-button-js {
}

.gradient-button {
    animation: rotate-gradient 1s infinite;
    background-image: linear-gradient(0deg, red, yellow, green);
}

@keyframes rotate-gradient {
    0% {
        background-image: linear-gradient(0deg, red, yellow, green);
    }
    /* Adding a step in the middle */
    20% {
        background-image: linear-gradient(60deg, red, yellow, green);
    }
    40% {
        background-image: linear-gradient(120deg, red, yellow, green);
    }
    60% {
        background-image: linear-gradient(180deg, red, yellow, green);
    }
    80% {
        background-image: linear-gradient(240deg, red, yellow, green);
    }
    100% {
        background-image: linear-gradient(300deg, red, yellow, green);
    }
}
/* #################### */