body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/* ##GRADIENT BUTTON## */
.gradient-button-js {
}

.gradient-button {
    position: relative;
    overflow: hidden;
    background-color: transparent;
}

    .gradient-button:after {
        content: '';
        display: block;
        z-index: -1;
        position: absolute;
        top: -2rem;
        right: 0;
        bottom: -2rem;
        left: 0;
        background-image: linear-gradient(red, yellow, green);
        animation: rotate-gradient linear 1s infinite;
    }

@keyframes rotate-gradient {
    to {
        transform: rotate(360deg)
    }
}
/* #################### */

.narrowInput {
    max-width: 40px;
    /* ##GRADIENT BUTTON## */
    .gradient-button-js
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.importanceLevel {
    height: 20px;
}
